/WebHookApp/WebHookApp/.gitignore
/WebHookApp/WebHookApp/bin/*
/WebHookApp/WebHookApp.Client/bin/*
/WebHookApp/WebHookApp/uploadedfiles/*
/WebHookApp/WebHookApp/obj/*
/WebHookApp/WebHookApp.Client/obj/*
/.vs/*

